body {
  font-family: Arial, sans-serif;
}

.navbar-brand {
  color: #e83e8c !important;
}

/* Hero Section */
.hero {
  height: 90vh;
  background: url("../images/hero.jpg") center/cover no-repeat;
  color: white;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
}

.btn-pink {
  background: #e83e8c;
  color: white;
  border: none;
  padding: 10px 25px;
}

.btn-pink:hover {
  background: #c2185b;
  color: white;
}

/* Services Section */

.services {
  background: #fff0f6;
}

.service-card img {
  height: 220px;
  object-fit: cover;
}

.service-card {
  transition: 0.3s;
}

.service-card:hover {
  transform: translateY(-8px);
}

.gallery {
  background: white;
}

/* Masonry layout */
.gallery-container {
  column-count: 4;
  column-gap: 20px;
}

.gallery-img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: 0.3s;
  display: block;
}

.gallery-img:hover {
  transform: scale(1.03);
}
 /* tablet */
@media(max-width:992px){
.gallery-container{
column-count:3;
}
}

/* small tablet */
@media(max-width:768px){
.gallery-container{
column-count:3;
}
}

/* mobile */
@media(max-width:576px){
.gallery-container{
column-count:3;
}
}

/* Booking Section */

.booking{
background:#fff0f6;
}

.booking form{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* WhatsApp Button */
.whatsapp-btn{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
font-size:24px;
padding:15px;
border-radius:50%;
text-decoration:none;
box-shadow:0 0 10px rgba(0,0,0,0.2);
z-index:1000;
}

.whatsapp-btn:hover
{
background:#128C7E;
}

/* About Section */

.about{
background:white;
}

.about img{
max-height:400px;
object-fit:cover;
}
